@page "/management"

<PageTitle>Управление листами</PageTitle>

<div class="mrs-toolbar">
    <a class="mrs-back" href="/">←</a>
    <h1 class="mrs-title">Управление листами</h1>
    <MrsTopMenu />
</div>

<div class="mrs-management">
    <a class="mrs-home-btn" href="checklists/work">Работа с контрольным листом</a>
    <a class="mrs-home-btn" href="templates/create">Создать шаблон ТО</a>
</div>
