@page "/objects"

<PageTitle>Управление объектами</PageTitle>

<div class="mrs-toolbar">
    <a class="mrs-back" href="/">←</a>
    <h1 class="mrs-title">Управление объектами</h1>
    <MrsTopMenu />
</div>

<div class="mrs-management">
    <a class="mrs-home-btn" href="/objects/register">Внести данные по объекту</a>
    <a class="mrs-home-btn" href="javascript:void(0)">Комментарии по объекту</a>
    <a class="mrs-home-btn" href="javascript:void(0)">Планирование выезда</a>
    <a class="mrs-home-btn" href="javascript:void(0)">Расходники к выезду</a>
</div>
